<div id="frameOutside" class="row">
  <div id="frame" class="col-10 col-sm-10 col-md-8 col-lg-6 offset-1 offset-sm-1 offset-md-2 offset-lg-3">
      <h1>thiagoescobar.dev</h1>
      <div id="areaApresentacao">
          <p>Olá, me chamo Thiago Escobar e sou um desenvolvedor <span class="textHighlight">frontend</span>. Trabalho principalmente com tecnologias como <span class="textGreenHighlight">HTML</span>, <span class="textGreenHighlight">CSS</span>, <span class="textGreenHighlight">JavaScript</span> e suas bibliotecas e frameworks, como por exemplo <span class="textHighlight">React</span> e <span class="textHighlight">Angular</span>.</p>
          <p>Seguem abaixo as formas mais fáceis de conhecer meu trabalho e me contactar:</p>
      </div>
      <div id="areaLinks">
          <div class="row">
              <div class="col-12 col-md-6 linkVerde">
                  <i class="fab fa-github"></i> <a target="_blank" href="https://github.com/escobarthiago">/escobarthiago</a>
              </div>
              <div class="col-12 col-md-6 linkLaranja">
                  <i class="fab fa-linkedin"></i> <a target="_blank" href="http://bit.ly/linkedInTE">/linkedInTE</a>
              </div>
              <div class="col-12 col-md-6 linkLaranja">
                  <i class="far fa-envelope"></i><a target="_blank" href="mailto:contato@thiagoescobar.dev">contato@</a>
              </div>
              <div class="col-12 col-md-6 linkVerde">
                  <i class="fab fa-whatsapp"></i><a target="_blank" href="">+55 21 97944-6188</a>
              </div>
          </div>
      </div>
      <div id="areaAssinatura">
          <p>Abraços,</p>
          <p>Thiago Escobar</p>
      </div>
  </div>
</div>
<router-outlet></router-outlet>